<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd"      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target xsi:type="File"
					name="file"
					layout="${longdate} - ${level:uppercase=true} - ${logger}: ${message}${onexception:${newline}${exception:format=ToString}}"
			  fileName="${basedir}\logs\DotNetApp.${shortdate}.log"
			  keepFileOpen="false"
					encoding="utf-8"
			  archiveFileName="DotNetApp.${shortdate}.log"
			  archiveNumbering="Sequence"
			  archiveEvery="Day"
			  maxArchiveFiles="1"
      />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>
